/* h1 {
    color: blue;
} */

video {
    display: none;
}

canvas {
    display: block;
}

body {
    background-color: #c7a3af;
}

#divMotor {
    background-color: grey;
}

#divFilters {
    background-color: green;
}

textArea {
    top: 300px;
    position: fixed;
}